   /* Dans votre fichier frontend/src/static/css/styles.css */
   a {
    transition: color 0.3s ease, background-color 0.3s ease;
}

a:hover {
    color: #fff; /* Changez la couleur du texte au survol */
    background-color: #007bff; /* Changez la couleur de fond au survol */
}
